  body {
    background-color: lightcoral;
  }

  body,
  h1{
    margin:  
    ;
  }
  
  h1 {
    color: orange;
    font-size: 50px;
    background: orangered;

  }
  
  .quote {
      color: teal;
      font-size: 25px;
  }

  #Amaris {
      color: forestgreen;
      font-size: 20px;
      
  }

 